
.container {
    height: 100vh;
    width: 100%;
    /* background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('../slike/sea.jpg');
    background-position: center;
    background-size: cover; */
    position: relative; 
    box-sizing: border-box; 
}

.content {
    margin-top: 200px;
    padding-left: 10%;
    color: #f0f3bd;
}

.content h1 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}

.start-btn {
    width: 180px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    color: #f0f3bd;
    border: 1px solid #f0f3bd;
    border-radius: 40px;
    padding: 20px 40px;
    display: block;
    background: linear-gradient(to right, rgba(0, 128, 128, 0.8) 25%, transparent 50%);
    /* background: transparent; */
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease-out;
}

.start-btn:hover {
    background-position: left bottom;
    border: none;
}
  

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width:100%;
        height:auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height:100%;
    }
}
